@media print{
    body{
        visibility: hidden;
        /* display: none; */
    }
    #additional_charge{
        visibility: hidden;
        display: none;
    }
    #charge{
        visibility: hidden;
        display: none;
    }
    #customer_info{
        visibility: hidden;
        display: none;
    }
    #reservation_info{
        visibility: hidden;
        display: none;

    }
    #vehicle{
        visibility: hidden;
        display: none;
    }
    #download_part{
        visibility: visible;
        display: flex;
        gap: 10px;
        margin: 0;
        /* display: block; */
    }
}

#download_part{
    /* visibility: hidden; */
}